# Python - Caches e compilação
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
.venv/
env/

# Docker e Logs
*.log
.docker/

# Editor Micro - Arquivos temporários
*.swp

# Arquivos de Compactação (Backups locais)
*.tar
*.zip
*.gz

# Sistema Operacional (Lixo do Windows/WSL)
.DS_Store
Thumbs.db
desktop.ini

compose/interface/  
compose/nginx.conf/
